.game-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px;
}

.game-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.orderby {
    display: flex;
    align-items: center;
}

#title-orderby {
    margin-right: 10px;
}

select {
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 8px;
    height: 26px;
    min-width: 190px;
    color: #494949;
}

@media screen and (max-width: 1000px){
    .game-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px){
    .game-list {
        display: grid;
        grid-template-columns: 1fr;
    }
}